.main-container {
    height: calc(100vh - 150px);
    width: 100vw;
    overflow-x: hidden;

    @media only screen and (max-width: 1000px) {
        height: calc(100vh - 100px);
    }

    @media only screen and (max-height: 900px) {
        height: calc(100vh - 100px);
    }
}

// .showreel_container {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }