.main-container {
	height: calc(100dvh - 150px);
	margin-top: 150px;
	overflow-x: hidden;

	@media (max-width: calc(1000px - 1px)) {
		height: calc(100dvh - 100px);
		margin-top: 100px;
	}

	@media (max-width: calc(430px - 1px)) {
		height: calc(100dvh - 70px);
		margin-top: 70px;
	}
}

// .showreel_container {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
