// CSS RESETS --------------------------------------------------
// https://www.digitalocean.com/community/tutorials/css-minimal-css-reset

html {
    box-sizing: border-box;
    font-size: 16px;
}

body { 
    margin: 0;
    color: #3A3A3A;
}

*, *:before, *:after {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
}

  
// MIXINS ----------------------------------------------------------

@mixin reset-spacing {
    margin: 0;
    padding: 0;
}

@mixin project-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
}


// VARIABLES --------------------------------------------------

$brand-pink: #F26F8F;
$brand-black: #3A3A3A;
$brand-white: #fff;

$space-above: 80px;
$space-below: 80px;
$space-between: 40px;

// FONT IMPORTS -------------------------------------------------

@font-face {
    font-family: "NorfolkSerif";
    src: local("NorfolkSerif-Regular"),
     url("./../fonts/NorfolkSerif-Regular.otf") format("truetype");
}

@font-face {
    font-family: "Lato-Thin";
    src: local("Lato-Thin"),
     url("./../fonts/Lato-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Light";
    src: local("Lato-Light"),
     url("./../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Regular";
    src: local("Lato-Regular"),
     url("./../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Medium";
    src: local("Lato-Medium"),
     url("./../fonts/Lato-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Semibold";
    src: local("Lato-Semibold"),
     url("./../fonts/Lato-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Bold";
    src: local("Lato-Bold"),
     url("./../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Heavy";
    src: local("Lato-Heavy"),
     url("./../fonts/Lato-Heavy.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Black";
    src: local("Lato-Black"),
     url("./../fonts/Lato-Black.ttf") format("truetype");
}


// FONT STYLING ------------------------------------------------------------

@mixin brand-display {
    font-family: "NorfolkSerif";
}

body {
    font-family: Lato-Regular;
}

.brand-display {
    @include brand-display;
    color: $brand-pink;
}

.xxl { font-size: 4em; }
.xl { font-size: 2em; }
.l { font-size: 1.8em; }
.m { font-size: 1.3em; }
.s { font-size: 1em; }


// MAIN STYLING ------------------------------------------------------------

.main-container {
    height: calc(100vh - 150px);
    width: 100vw;
    overflow-x: hidden;
}

@media only screen and (max-width: 1000px) {
    .main-container {
        height: calc(100vh - 150px);
    }
}

@media only screen and (max-height: 900px) {
    .main-container {
        height: calc(100vh - 100px);
    }
}
/*
@media only screen and (max-height: 700px) {
    .main-container {
        height: calc(100vh - 100px);
    }
}
*/