.navigation_container {
    z-index: 100;
    width: 100vw;
    height: 150px;
    background-color: $brand-black;

    padding: 25px 50px 25px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    overflow: hidden;
}

.navigation_logo {
    transform: scale(0.8);
    transition: 0.5s ease;
    margin-left: -20px;

    .studio {
        @include reset-spacing;

        font-family: Lato-Thin;
        font-size: 40px;
        letter-spacing: 6px;
        color: $brand-white;
        text-transform: uppercase;
        margin-bottom: 5px;
        line-height: 30px;
    }

    .morte {
        @include brand-display;
        @include reset-spacing;

        color: $brand-pink;
        font-size: 128px;
        letter-spacing: 1px;
        line-height: 60px;
    }

    a {
        margin: 0;
        padding: 0;
    }
}

.navigation_logo:hover {
    transform: scale(0.9);
}

.navigation_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: right;
    color: $brand-pink;

    nav {
        @include reset-spacing;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav a {
        position: relative;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 30px;
    }

    nav a:not(:last-of-type) {
        margin-right: 30px;
    }

    nav a:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 3px;
        display: block;
        transition: all 0.3s ease;
        bottom: -7px;
    }

    nav a:hover::after {
        width: 100%;
        height: 3px;
        background-color: $brand-pink;
    }

    #menuIcon {
        display: none;
    }

    #closeIcon {
        display: none;
    }
}

.hamburger {
    display: none;
}

.navigation_designer {
    @include brand-display;
    @include reset-spacing;

    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    padding-top: 5px;
}

.isActive {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 13px;
}

.menuItem {
    font-size: 1.7em;
}

.show-menu {
    transform: translateX(0) !important;
}

.hide-menu {
    transform: translateX(100%);
}


#menuIcon {
    transition: 1s ease-in-out;
}

#closeIcon {
    transition: 1s ease-in-out;
}

#mobileMenu {
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $brand-black;
    color: $brand-pink;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: transform 0.2s;

    ul {
        padding: 0;
        margin-top: -100px;
    }

    li {
        margin: 10vh 0;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    .social_container {
        background-color: transparent;
        padding: 0;
        bottom: 5vh;
        right: unset;
        display: flex;

        svg {
            color: rgba($brand-white, 0.5);
        }
    }
}

@media only screen and (max-height: 900px) {
    .navigation_container {
        height: 100px;
        padding: 20px 30px 20px 25px;
    }

    .navigation_logo {
        transform: scale(0.8);

        .studio {
            font-size: 20px;
            line-height: 5px;
        }

        .morte {
            font-size: 80px;
        }
    }

    .navigation_logo:hover {
        transform: scale(0.8);
    }

    .navigation_designer {
        display: none;
    }

    .navigation_right {
        justify-content: center;
        align-items: center;

    }
}


@media only screen and (max-width: 1000px) {
    .navigation_container {
        height: 100px;
        padding: 20px 30px 20px 25px;
    }

    .navigation_logo {
        transform: scale(0.8);

        .studio {
            font-size: 20px;
            line-height: 5px;
        }

        .morte {
            font-size: 80px;
        }
    }

    .navigation_logo:hover {
        transform: scale(0.8);
    }

    .navigation_designer {
        display: none;
    }

    .navigation_right {
        justify-content: center;

        nav a {
            display: none;
        }

        .hamburger {
            display: block;
            height: 50px;
            width: 50px;

            svg {
                height: 50px;
                width: 50px;
            }

            #menuIcon {
                display: block;
            }

        }
    }
}

@media only screen and (max-height: 700px) {
    .navigation_container {
        height: 100px;
        padding: 20px 30px 20px 25px;
    }

    .navigation_logo {
        transform: scale(0.8);

        .studio {
            font-size: 20px;
            line-height: 5px;
        }

        .morte {
            font-size: 80px;
        }
    }

    .navigation_designer {
        display: none;
    }

    .navigation_right {
        justify-content: center;

        nav a {
            display: none;
        }

        .hamburger {
            display: block;
            height: 50px;
            width: 50px;

            svg {
                height: 50px;
                width: 50px;
            }

            #menuIcon {
                display: block;
            }

        }
    }
}

@media only screen and (max-width: 400px) {

    .navigation_logo {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: scale(1);
        margin-left: 0;

        .studio {
            font-size: 1em;
            line-height: 0.5em;
        }

        .morte {
            font-size: 3em;
            line-height: 0.7em;
        }
    }

    .navigation_container {
        padding-inline: 6vw;
    }
}