
// MY WARHAMMER STYLING -----------------------------------------------------

.project-pages_header{
    .logo-warhammer {
        width: clamp(150px, 20vw, 300px);
    }

    .logo-left {
        width: clamp(120px, 20vw, 200px);
        justify-self: flex-start;
        margin-left: 10%;
    }
    
    .logo-right {
        width: clamp(120px, 20vw, 200px);
        justify-self: flex-end;
        margin-right: 10%;
    }

    @media only screen and (max-width: 500px) {
        .logo-left, .logo-right {
            display: none;
        }
    }
}

.warhammer-container {
    .project-pages_staggered-container {
        grid-template-rows: repeat(5, 1fr);
    }

    .right:last-of-type {
        grid-row: 4 / 6 ;
    }
}

.warhammer-logo-container {
    margin-top: $space-above;
    grid-column: 2 / 6 ;
    
    img {
        width: 150px;
    }
}

.warhammer-right-image {
    grid-row: 2 / span 4 ;

    img {
        object-position: center;
    }

    @media only screen and (max-width: 1000px) {
        grid-row: 4 / 5 ;
    }
}

.warhammer-scenarios {
    margin-top: -$space-above;

    .carousel__slide {
        height: 700px;
        
        img {
            box-shadow: unset !important;
        }
    }

    @media only screen and (max-width: 1000px) {
        margin-top: -80px;
    }
}

.warhammer-usergoals {
    margin-top: 0;

    @media only screen and (max-width: 1000px) {
        margin-top: $space-above;
    }
}

// STAUNTON GALLERY STYLING -------------------------------------------------

.logo-staunton {
    width: clamp(350px, 50vw, 600px);
}

.staunton-hero {
    object-position: center bottom;
}

.staunton-research-quote {
    @media only screen and (max-width: 900px) {
        margin-top: $space-between;
        height: unset;
    }
}

.design-system, .conclusion {
    margin-top: $space-above;
}


// SUSTAINABILITY VICTORIA STYLING ------------------------------------------

.logo-sustainabilityvic {
    width: clamp(350px, 50vw, 600px);
}

.susvic-quote-research {
    margin-top: $space-above;

    @media only screen and (max-width: 1000px) {
        margin-top: 0;
    }
}

.susvic-revisited {
    margin-top: -20px;

    .written {
        margin-top: 0;
    }
}

.testing, .final-design-rev {
    margin-top: $space-above;
}

.final-design {
    margin-top: 100px;
}


// DJALINY STYLING ----------------------------------------------------------

.logo-djaliny {
    width: clamp(300px, 50vw, 500px);
}

.djaliny-title {
    grid-column: 2 / -2 ;
    text-align: center;
    margin-top: $space-above;

    p {
        line-height: 1em;
    }

    p:last-of-type {
        margin-top: -1em;
    }
}

.djaliny-sponsors {
    grid-column: 2 / -2 ;
    margin-top: $space-above;
    
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1200px) {
    .djaliny-sponsors {
        img {
            transform: scale(0.8);
        }
    }
}

@media only screen and (max-width: 1000px) {
    .djaliny-sponsors {
        text-align: center;
        margin-top: 0;
        margin-bottom: $space-below;
        
        div {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;

        }

        img {
            justify-self: center;
            transform: scale(0.9);
        }
    }
}


.djaliny-role-quote {

    p {
        line-height: 0.7em;
    }

    @media only screen and (max-width: 900px) {
        margin-top: $space-between;
        height: unset;
    }
}

.djaliny-persona-container {
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .quote {
        border: none;
        padding-left: unset;
    }


    .djaliny-persona {
        display: flex;
        flex-direction: row;
        gap: 40px;

        &:last-of-type {
            flex-direction: row-reverse;
        }

        p {
            align-self: center;
        }

        @media only screen and (max-width: 1250px) {
            flex-direction: column;
            align-items: center;

            &:last-of-type {
                flex-direction: column;
            }
        }

        @media only screen and (max-width: 1000px) {
            flex-direction: row;
            align-items: flex-start;

            &:last-of-type {
                flex-direction: row-reverse;
            }
        }

        @media only screen and (max-width: 650px) {
            flex-direction: column;
            align-items: center;

            &:last-of-type {
                flex-direction: column;
            }
        }
    }


    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 100%;
    }

    @media only screen and (max-width: 1000px) {
        margin-top: $space-between;
    }
}

.the-process, .prototype, .final-space {
    margin-top: $space-above;
}