
.project_page-container {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

a {
    color: inherit;
}

.project_navigation {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 200px;
    z-index: 3;
}

.project_background-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+12,ffffff+100&1+32,0.6+69,0+99 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 12%, rgba(255,255,255,1) 32%, rgba(255,255,255,0.6) 69%, rgba(255,255,255,0) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 12%,rgba(255,255,255,1) 32%,rgba(255,255,255,0.6) 69%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 12%,rgba(255,255,255,1) 32%,rgba(255,255,255,0.6) 69%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}

.project_background-image {
    /*
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    */
}

.project_background-image1 {
    opacity: 0;
    background-image: url("./../images/warhammer-2.jpg");
    background-position: right center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}


.project_background-image.show2 {
    background-image: url("./../images/staunton-1.jpg");
    background-position: right bottom;
}

.project_background-image.show3 {
    background-image: url("./../images/sustainvic-1.jpg");
    background-position: right center;
}

.project_background-image.show4 {
    background-image: url("./../images/djaliny-1.png");
    background-position: right center;
}

.project_navigation ul {
    transform: rotate(-8.93deg);
    width: 115%;
    margin-left: -150px;
}

.project_navigation li {
    display: grid;
    grid-template-columns: 200px max-content 5fr;
    align-items: center;
    gap: 50px;
    height: 260px;
    margin-top: -120px;

    font-family: Lato-Thin;    
    font-size: 70px;
    letter-spacing: 10px;
    line-height: 0;
    text-transform: uppercase;
    text-align: left;
}

.rectangle {
    margin-top: 15px;
    height: 80px; 
    width: 100%;
    background-color: $brand-pink;
    opacity: 0;
}

.rectangle.show {
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.link.hover {
    animation: hover 0.5s ease-in-out;
    animation-fill-mode : forwards;
}


@keyframes hover {
    from {

    }

    1% {
        @include brand-display;
        color: $brand-pink;
        text-transform: lowercase;
        line-height: 0px;
        letter-spacing: 5px;
        font-size: 90px;
    }

    to {
        @include brand-display;
        color: $brand-pink;
        text-transform: lowercase;
        line-height: 0px;
        letter-spacing: 5px;        
        font-size: 130px;
    }
}