
.project_page-container {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.project_navigation {
    position: relative;
    height: 100vh;
    width: 100vw;    
    margin-top: 100px;
    margin-left: 200px;
    z-index: 3;
}

.project_navigation ul {
    width: 100vw;
}

.project_navigation li {
    display: grid;
    grid-template-columns: 1fr;
    font-family: Lato-Thin;    
    font-size: 70px;
    letter-spacing: 10px;
    line-height: 0;
    text-transform: uppercase;
    text-align: left;
}

/*
.project_link {
    animation: changeFontReverse 0.5s;
}

.project_link:hover {
    font-family: NorfolkSerif;
    text-transform: lowercase;
    color: $brand-pink;
    animation: changeFont 0.5s;

}
*/


@keyframes changeFont {
    from {

    }

    1% {
        @include brand-display;
        color: $brand-pink;
        text-transform: lowercase;
        line-height: 0px;
    }

    to {
        @include brand-display;
        color: $brand-pink;
        text-transform: lowercase;
        line-height: 0px;
    }
}

@keyframes changeFontReverse {
    from {
        @include brand-display;
        color: $brand-pink;
        text-transform: lowercase;
        line-height: 0px;
    }

    99% {
        @include brand-display;
        color: $brand-pink;
        text-transform: lowercase;
        line-height: 0px;
    }

    to {

    }
}
