@use "sass:math";
@use "../../abstracts/variables" as *;
@use "../../abstracts/functions" as *;
@use "../../abstracts/mixins" as *;

.logo-staunton {
    width: clamp(350px, 50vw, 600px);
}

.staunton-hero {
    object-position: center bottom;
}

.staunton-research-quote {
    @media only screen and (max-width: 900px) {
        margin-top: $space-between;
        height: unset;
    }
}

.design-system,
.conclusion {
    margin-top: $space-above;
}