@use "sass:math";
@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.footer {
    width: 100%;
    padding: 0 50px;
    background-color: $brand-black;

    .footer-container {
        margin: 0 auto;
        max-width: 1500px;
        height: max-content;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $brand-white;

        font-family: Lato-Medium;
        letter-spacing: 0.5px;

        @media only screen and (max-width: 700px) {
            padding: 20px 0 10px 0;
            flex-direction: column-reverse;
            justify-content: center;
        }
    }
}

.footer_social-container {
    opacity: 0.8;
    width: max-content;
    height: max-content;

    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;

    padding: 10px 0 10px 20px;
}