@import './../scss/basic';

.project_navigation {
    z-index: 100;
    width: 115%;
    margin-left: -150px;
    padding-top: 200px;
    transform: rotate(-8.93deg);

    transition: all 0.5 ease-out;
}

.project_navigation li {
    display: grid;
    grid-template-columns: 200px max-content 5fr;
    align-items: center;
    gap: 50px;
    height: 260px;
    margin-top: -120px;

    font-weight: 100;
    font-size: 70px;
    letter-spacing: 10px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
}

.rectangle {
    margin-top: 15px;
    height: 80px; 
    width: 100%;
    background-color: $brand-pink;
    opacity: 0;
}

.rectangle.show {
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.link.hover {
    animation: hover 1s;
    animation-fill-mode : forwards;
}


@keyframes hover {
    from {

    }

    1% {
        @include brand-display;
        color: $brand-pink;
        text-transform: lowercase;
        line-height: 0px;
        letter-spacing: 5px;
        font-size: 90px;
    }

    to {
        @include brand-display;
        color: $brand-pink;
        text-transform: lowercase;
        line-height: 0px;
        letter-spacing: 5px;        
        font-size: 130px;
    }
}